.event-card {
  background-color: #c0c0ff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-group {
  margin-top: 10px;
}

.purchase-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
