.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #c7bbff;
  padding: 10px;
}

.menu-item {
  button,
  a {
    background-color: #2f00ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
  }
}
